
table {
    border-collapse: collapse;
}

td {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    text-align: center;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
label{
    font-size:20px;
    
}
select {
    position: relative;
    width: 120px;
    height: 30px;
   
}

.row
{
    display: flex;
    flex-direction: row;
    min-height: 20%;
}
.col
{
    display: flex;
    flex-direction: column;
    min-width: 30%;
}
.row, .col
{
    flex: 1;
    gap: 2em;
    padding: 1em;
    justify-content: space-around;
    align-items: center;
}
td
{
    min-width: 1.5em;
    min-height: 1.5em;
    text-align: center;   
}

#minefield{
    margin: auto;
}

button {
    /* width: 20px; */
    height: 70px;
    font: sans-serif 2em bold;
    font-size: 20px;
    text-align: center;
    padding: 1em;
    margin: 0 auto;
    vertical-align: middle;
}